<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.RdEntityResponsibilityMapper">
    <select id="querylist" resultMap="RdEntityResponsibilityMapper">
    select
        e.id,
        e.create_id,
        e.title,
        e.content,
        s.username,
        e.create_time,
        e.staus from rd_entity_responsibility e ,sys_staff s where
        e.create_id=s.create_id
        AND e.state=1
        ORDER BY e.id DESC
        LIMIT #{page},#{limit}
  </select>

    <resultMap id="RdEntityResponsibilityMapper" type="com.xr.entity.RdEntityResponsibility" >
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="create_id" property="createId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime"/>
        <result column="staus" property="staus" />

        <association property="sysStaff" javaType="com.xr.entity.SysStaff">
            <result column="create_id" property="createId" />
            <result column="username" property="username"></result>
        </association>
    </resultMap>

    <select id="queryBytitle" resultMap="RdEntityResponsibilityMapper">
        select
            e.id,
            e.create_id,
            e.title,
            e.content,
            s.username,
            e.create_time,
            e.staus from rd_entity_responsibility e ,sys_staff s where e.create_id=s.create_id and e.state=1 and e.title LIKE (CONCAT('%',#{titlename},'%'))
            ORDER BY e.id DESC
            LIMIT #{page},#{limit}
  </select>
</mapper>