<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.RdWorkPlanMapper">
    <select id="querylist" resultMap="RdWorkPlanMapper">
    select
        w.id,
        w.create_id,
        w.title,
        w.content,
        s.username,
        w.create_time,
        w.staus from rd_work_plan w ,sys_staff s where
        w.create_id=s.create_id
        AND w.state=1
        ORDER BY w.id DESC
        LIMIT #{page},#{limit}
  </select>

    <resultMap id="RdWorkPlanMapper" type="com.xr.entity.RdWorkPlan" >
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="create_id" property="createId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime"/>
        <result column="staus" property="staus" />

        <association property="sysStaff" javaType="com.xr.entity.SysStaff">
            <result column="create_id" property="createId" />
            <result column="username" property="username"></result>
        </association>
    </resultMap>

    <select id="queryBytitle" resultMap="RdWorkPlanMapper">
        select
            w.id,
            w.create_id,
            w.title,
            w.content,
            s.username,
            w.create_time,
            w.staus from rd_work_plan w ,sys_staff s where w.create_id=s.create_id and w.state=1 and w.title LIKE (CONCAT('%',#{titlename},'%'))
            ORDER BY w.id DESC
            LIMIT #{page},#{limit}
  </select>
</mapper>