<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.RdWorkDeploymentMapper">
    <select id="querylist" resultMap="RdWorkDeploymentMapper">
    select
        d.id,
        d.title,
        d.content,
        d.create_id,
        d.create_time,
        s.username,
        d.staus from rd_work_deployment d,sys_staff s where d.create_id=s.create_id
        AND d.state=1
        ORDER BY d.id DESC
        LIMIT #{page},#{limit}
  </select>

    <resultMap id="RdWorkDeploymentMapper" type="com.xr.entity.RdWorkDeployment" >
        <id column="id" property="id" />
        <!--<result column="SorPackageMapper" property="SorPackage" /> -->
        <result column="title" property="title" />
        <result column="create_id" property="createId"></result>
        <result column="content" property="content" />
        <result column="create_time" property="createTime"/>
        <result column="staus" property="staus" />

        <association property="sysStaff" javaType="com.xr.entity.SysStaff">
            <result column="create_id" property="createId"></result>
            <result column="username" property="username"></result>
        </association>
    </resultMap>

    <select id="queryBytitle" resultMap="RdWorkDeploymentMapper">
        select
            d.id,
            d.title,
            d.content,
            d.create_time,
            s.username,
            d.staus from rd_work_deployment d,sys_staff s where d.create_id=s.create_id
            AND d.state=1 and d.title LIKE (CONCAT('%',#{titlename},'%'))
            ORDER BY d.id DESC
            LIMIT #{page},#{limit}
  </select>

</mapper>