<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.SupervisionfilingMapper">
  <resultMap id="BaseResultMap" type="com.xr.entity.Supervisionfiling">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="sFilingId" jdbcType="INTEGER" property="sfilingid" />
    <result column="sPaperItems" jdbcType="VARCHAR" property="spaperitems" />
    <result column="sAccessory" jdbcType="VARCHAR" property="saccessory" />
    <result column="sEnforcementMode" jdbcType="VARCHAR" property="senforcementmode" />
    <result column="sCost" jdbcType="VARCHAR" property="scost" />
    <result column="sUndertaker" jdbcType="VARCHAR" property="sundertaker" />
    <result column="sUndertakerDeptId" jdbcType="INTEGER" property="sundertakerdeptid" />
    <result column="sAuditOpinion" jdbcType="VARCHAR" property="sauditopinion" />
    <result column="sCreateTime" jdbcType="TIMESTAMP" property="screatetime" />
    <result column="sCreateId" jdbcType="INTEGER" property="screateid" />
    <result column="sCreateName" jdbcType="VARCHAR" property="screatename" />
    <result column="sStatus" jdbcType="INTEGER" property="sstatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, sFilingId, sPaperItems, sAccessory, sEnforcementMode, sCost, sUndertaker, sUndertakerDeptId, 
    sAuditOpinion, sCreateTime, sCreateId, sCreateName, sStatus
  </sql>
  <select id="selectByExample" parameterType="com.xr.entity.SupervisionfilingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supervisionfiling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supervisionfiling
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supervisionfiling
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xr.entity.SupervisionfilingExample">
    delete from supervisionfiling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xr.entity.Supervisionfiling">
    insert into supervisionfiling (sid, sFilingId, sPaperItems, 
      sAccessory, sEnforcementMode, sCost, 
      sUndertaker, sUndertakerDeptId, sAuditOpinion, 
      sCreateTime, sCreateId, sCreateName, 
      sStatus)
    values (#{sid,jdbcType=INTEGER}, #{sfilingid,jdbcType=INTEGER}, #{spaperitems,jdbcType=VARCHAR}, 
      #{saccessory,jdbcType=VARCHAR}, #{senforcementmode,jdbcType=VARCHAR}, #{scost,jdbcType=VARCHAR}, 
      #{sundertaker,jdbcType=VARCHAR}, #{sundertakerdeptid,jdbcType=INTEGER}, #{sauditopinion,jdbcType=VARCHAR}, 
      #{screatetime,jdbcType=TIMESTAMP}, #{screateid,jdbcType=INTEGER}, #{screatename,jdbcType=VARCHAR}, 
      #{sstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xr.entity.Supervisionfiling">
    insert into supervisionfiling
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="sfilingid != null">
        sFilingId,
      </if>
      <if test="spaperitems != null">
        sPaperItems,
      </if>
      <if test="saccessory != null">
        sAccessory,
      </if>
      <if test="senforcementmode != null">
        sEnforcementMode,
      </if>
      <if test="scost != null">
        sCost,
      </if>
      <if test="sundertaker != null">
        sUndertaker,
      </if>
      <if test="sundertakerdeptid != null">
        sUndertakerDeptId,
      </if>
      <if test="sauditopinion != null">
        sAuditOpinion,
      </if>
      <if test="screatetime != null">
        sCreateTime,
      </if>
      <if test="screateid != null">
        sCreateId,
      </if>
      <if test="screatename != null">
        sCreateName,
      </if>
      <if test="sstatus != null">
        sStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sfilingid != null">
        #{sfilingid,jdbcType=INTEGER},
      </if>
      <if test="spaperitems != null">
        #{spaperitems,jdbcType=VARCHAR},
      </if>
      <if test="saccessory != null">
        #{saccessory,jdbcType=VARCHAR},
      </if>
      <if test="senforcementmode != null">
        #{senforcementmode,jdbcType=VARCHAR},
      </if>
      <if test="scost != null">
        #{scost,jdbcType=VARCHAR},
      </if>
      <if test="sundertaker != null">
        #{sundertaker,jdbcType=VARCHAR},
      </if>
      <if test="sundertakerdeptid != null">
        #{sundertakerdeptid,jdbcType=INTEGER},
      </if>
      <if test="sauditopinion != null">
        #{sauditopinion,jdbcType=VARCHAR},
      </if>
      <if test="screatetime != null">
        #{screatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="screateid != null">
        #{screateid,jdbcType=INTEGER},
      </if>
      <if test="screatename != null">
        #{screatename,jdbcType=VARCHAR},
      </if>
      <if test="sstatus != null">
        #{sstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xr.entity.SupervisionfilingExample" resultType="java.lang.Long">
    select count(*) from supervisionfiling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update supervisionfiling
    <set>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.sfilingid != null">
        sFilingId = #{record.sfilingid,jdbcType=INTEGER},
      </if>
      <if test="record.spaperitems != null">
        sPaperItems = #{record.spaperitems,jdbcType=VARCHAR},
      </if>
      <if test="record.saccessory != null">
        sAccessory = #{record.saccessory,jdbcType=VARCHAR},
      </if>
      <if test="record.senforcementmode != null">
        sEnforcementMode = #{record.senforcementmode,jdbcType=VARCHAR},
      </if>
      <if test="record.scost != null">
        sCost = #{record.scost,jdbcType=VARCHAR},
      </if>
      <if test="record.sundertaker != null">
        sUndertaker = #{record.sundertaker,jdbcType=VARCHAR},
      </if>
      <if test="record.sundertakerdeptid != null">
        sUndertakerDeptId = #{record.sundertakerdeptid,jdbcType=INTEGER},
      </if>
      <if test="record.sauditopinion != null">
        sAuditOpinion = #{record.sauditopinion,jdbcType=VARCHAR},
      </if>
      <if test="record.screatetime != null">
        sCreateTime = #{record.screatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.screateid != null">
        sCreateId = #{record.screateid,jdbcType=INTEGER},
      </if>
      <if test="record.screatename != null">
        sCreateName = #{record.screatename,jdbcType=VARCHAR},
      </if>
      <if test="record.sstatus != null">
        sStatus = #{record.sstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update supervisionfiling
    set sid = #{record.sid,jdbcType=INTEGER},
      sFilingId = #{record.sfilingid,jdbcType=INTEGER},
      sPaperItems = #{record.spaperitems,jdbcType=VARCHAR},
      sAccessory = #{record.saccessory,jdbcType=VARCHAR},
      sEnforcementMode = #{record.senforcementmode,jdbcType=VARCHAR},
      sCost = #{record.scost,jdbcType=VARCHAR},
      sUndertaker = #{record.sundertaker,jdbcType=VARCHAR},
      sUndertakerDeptId = #{record.sundertakerdeptid,jdbcType=INTEGER},
      sAuditOpinion = #{record.sauditopinion,jdbcType=VARCHAR},
      sCreateTime = #{record.screatetime,jdbcType=TIMESTAMP},
      sCreateId = #{record.screateid,jdbcType=INTEGER},
      sCreateName = #{record.screatename,jdbcType=VARCHAR},
      sStatus = #{record.sstatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.entity.Supervisionfiling">
    update supervisionfiling
    <set>
      <if test="sfilingid != null">
        sFilingId = #{sfilingid,jdbcType=INTEGER},
      </if>
      <if test="spaperitems != null">
        sPaperItems = #{spaperitems,jdbcType=VARCHAR},
      </if>
      <if test="saccessory != null">
        sAccessory = #{saccessory,jdbcType=VARCHAR},
      </if>
      <if test="senforcementmode != null">
        sEnforcementMode = #{senforcementmode,jdbcType=VARCHAR},
      </if>
      <if test="scost != null">
        sCost = #{scost,jdbcType=VARCHAR},
      </if>
      <if test="sundertaker != null">
        sUndertaker = #{sundertaker,jdbcType=VARCHAR},
      </if>
      <if test="sundertakerdeptid != null">
        sUndertakerDeptId = #{sundertakerdeptid,jdbcType=INTEGER},
      </if>
      <if test="sauditopinion != null">
        sAuditOpinion = #{sauditopinion,jdbcType=VARCHAR},
      </if>
      <if test="screatetime != null">
        sCreateTime = #{screatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="screateid != null">
        sCreateId = #{screateid,jdbcType=INTEGER},
      </if>
      <if test="screatename != null">
        sCreateName = #{screatename,jdbcType=VARCHAR},
      </if>
      <if test="sstatus != null">
        sStatus = #{sstatus,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.entity.Supervisionfiling">
    update supervisionfiling
    set sFilingId = #{sfilingid,jdbcType=INTEGER},
      sPaperItems = #{spaperitems,jdbcType=VARCHAR},
      sAccessory = #{saccessory,jdbcType=VARCHAR},
      sEnforcementMode = #{senforcementmode,jdbcType=VARCHAR},
      sCost = #{scost,jdbcType=VARCHAR},
      sUndertaker = #{sundertaker,jdbcType=VARCHAR},
      sUndertakerDeptId = #{sundertakerdeptid,jdbcType=INTEGER},
      sAuditOpinion = #{sauditopinion,jdbcType=VARCHAR},
      sCreateTime = #{screatetime,jdbcType=TIMESTAMP},
      sCreateId = #{screateid,jdbcType=INTEGER},
      sCreateName = #{screatename,jdbcType=VARCHAR},
      sStatus = #{sstatus,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>